{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ChangeRecordSets",
      "Effect": "Allow",
      "Action": "route53:ChangeResourceRecordSets",
      "Resource": ${hosted_zone_arns}
    },
    {
      "Sid": "ListZonesAndRecords",
      "Effect": "Allow",
      "Action": [
        "route53:ListHostedZones",
        "route53:ListResourceRecordSets",
        "route53:ListTagsForResource"
      ],
      "Resource": "*"
    }
  ]
}
